// vendors
$vendors: "-moz-", "-webkit-", "-o-", "-ms-", ""; 

/*colors definitaions*/
$PrimaryColor1:#bc2bff;
$PrimaryColor2:#7249fb ;
/*$PrimaryColor3:#7f43fc;*/
$WhiteColor:white;
$BlackColor:black;
$GrayColor:#777777;
$LightBlueColor:#f9faff;
$borderGrayColor:#eeeeee;
$SecanderyButtonBG:#f9f9ff;
$SecanderyButtonBorder:#dddddd;
$colorinput:#333333;
$colorgraylight:#999999;
$colorlightwhite:#fff;
$colorlightblack:#111111;
/*fonts*/
$Upper:uppercase;
$DefaultFontTitle:Open Sans;
$BaseFontSize:12px;
$Weightbold:bold;
$DefaultFontP:Roboto;
$FontWeightDefault:300;
$DefaultLineHight:45px;
$list: $PrimaryColor1 , $PrimaryColor2 ;
$list1: $PrimaryColor2 , $PrimaryColor1 ;

/* main buttons*/
$BorderRadius:5px;
$PaddingButtons:0px 45px;
/*$BoxShadowButton:0px 10px 30px 0px rgba(115, 73, 251, 0.3);

/*center*/
$autoMargin: auto;
$FullWidth:100%;
$centerHorizontal:middle;
$textCenter:center;

/*container*/
$Padding:15px;
$widthContainer: 960px;

/*transation*/
$transation:all 0.3s ease-in-out;

/*images*/
$logo : '../img/logo/logo.png';
$IconSec3 : '../img/icons/f-icon-1.png';
$bannermobile:'../img/banner/right-mobile.png';
$bannerbg:'../img/banner/home-banner.jpg';
$mobileround1:'../img/arch/interior-1.png';
$mobileround2:'../img/arch/interior-2.png';
$videobg:'../img/video/video-1.png';
$imgfeature1:'../img/feature/feature-1.jpg';
$imgfeature2:'../img/feature/feature-2.jpg';
$imgfeature3:'../img/feature/feature-3.jpg';
$imgfeature4:'../img/feature/feature-4.jpg';
$imgTestimonials1:'../img/Testimonials/testi-1.png';
$imgTestimonials2:'../img/Testimonials/testi-2.png';
$imgfooter1:'../img/footer/Image-01.jpg';
$imgfooter2:'../img/footer/Image-02.jpg';
$imgfooter3:'../img/footer/Image-03.jpg';
$imgfooter4:'../img/footer/Image-04.jpg';
$imgfooter5:'../img/footer/Image-05.jpg';
$imgfooter6:'../img/footer/Image-06.jpg';
$imgfooter7:'../img/footer/Image-07.jpg';
$imgfooter8:'../img/footer/Image-08.jpg';
/*position*/
$RelativePosition:relative;


/*spaces*/
$spacenav:28px;


/*width*/
$widthWeb:960px;

